<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="info">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    <variable name="System" value="NewsAPI" />
    <targets>
    <target name="normalFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block">
      <target xsi:type ="File"  fileName="/data/logfiles/${shortdate}/${System}-${date:format=HH}.log" layout="${longdate} [${threadid}][${mdlc:item=P1}] ${level:uppercase=true} ${logger} - ${message} ${exception:format=tostring}" concurrentWrites="false" keepFileOpen="false" autoFlush="false" createDirs="true" />
    </target>
    <target name="errorFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block">
      <target xsi:type="File" fileName="/data/logfiles/${shortdate}/Error/${System}-${date:format=HH}.log" layout="${longdate} [${threadid}][${mdlc:item=P1}] ${level:uppercase=true} ${logger} - ${message} ${exception:format=tostring}" concurrentWrites="false" keepFileOpen="false" autoFlush="false" createDirs="true" />
    </target>
    <target name="console" xsi:type="ColoredConsole"
        layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console,normalFile" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>